worker_processes auto;
events { worker_connections 1024; }

stream {
    # map SNI → 1 (VPN) or 0 (direct)
    map $ssl_preread_server_name $use_vpn {
        include {{ nginx_map_file }};
        default 0;
    }

    upstream vpn_upstream    { server 127.0.0.1:{{ vpn_upstream_port }}; }
    upstream direct_upstream { server 127.0.0.1:{{ direct_upstream_port }}; }

    server {
        listen {{ redirect_port }} ssl_preread;
        proxy_pass $use_vpn ? vpn_upstream : direct_upstream;
    }
}
